@model IMS.User

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Login Form</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0d6efd;
    }

    .login {
        width: 360px;
        height: min-content;
        padding: 20px;
        border-radius: 12px;
        background: #ffffff;
    }

        .login h1 {
            font-size: 36px;
            margin-bottom: 25px;
        }

        .login form {
            font-size: 20px;
        }

            .login form .form-group {
                margin-bottom: 12px;
            }

            .login form input[type="submit"] {
                font-size: 20px;
                margin-top: 15px;
            }
            a{
                text-decoration:none;
                color:white;
            }
</style>



<body>

    <div class="login">
        <h1 class="text-center">Inventory Management</h1>
        <h3 class="text-center">Admin Login</h3>


        @using (Html.BeginForm("Login", "Account", null,
                           FormMethod.Post, new { @class = "needs-validation" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group was-validated">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "form-label", @for = "email" })
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", tpye = "email", id = "email", required = "required" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                <div class="invalid-feedback">
                    Please Enter Username
                </div>
            </div>

            <div class="form-group was-validated">

                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "form-label", @for = "password" })
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "password", id = "password", required = "required" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                <div class="invalid-feedback">
                    Please Enter Password
                </div>
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" id="check">
                <label class="form-check-label" for="check">Remember me</label>
            </div>

            <input class="btn btn-success w-100" type="submit" value="Sign In">
            <li>Need Account? @Html.ActionLink("Sign Up", "signup", "Account", null, new { @class = "btn btn-link w-100 a" })</li>
        }

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>