@model IEnumerable<IMS.purchaseStock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buying_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buying_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selling_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buying_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buying_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selling_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
